<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Decade</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="Access-Control-Allow-Origin" content="*"/> <!-- 跨域 -->
        <meta name="keywords" content="Decade,decade,十年,10年,ten years"/>
        <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- 启用 WebApp 全屏模式 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> <!-- WebApp全屏时,状态栏颜色 -->
        <meta name="apple-mobile-web-app-title" content="Decade"> <!-- 添加到主屏后的标题 -->
        <meta content="email=no" name="format-detection" /> <!-- 自动识别email -->
        <meta content="telephone=no" name="format-detection" />  <!-- 自动识别电话号码 -->
		<link rel="shortcut icon" href="favicon.ico" /> 
		<link rel="stylesheet" href="/bootstrap-3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/bootstrap-3.3.4/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="/css/base.css" />
		<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/bootstrap-3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
		
	</body>
</html>
